@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");

* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

/*
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}
*/

#navbar {
  background: rgba(0, 0, 0, 0.75);
  /*background: black;*/
}

#a_img {
  font-family: "Oleo Script", cursive;
  font-size: 1.4rem;
}

#img_logo_car {
  width: 120px;
  font-family: "Oleo Script", cursive;
}

#nav_links:focus {
  outline: none;
}

#nav_links:hover {
  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

.promo {
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.promo h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #f3f3f3;
  font-weight: 700;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.promo p {
  font-size: 1.5rem;
  text-align: center;
  color: #f3f3f3;
  font-weight: 900;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

#btn-register {
  display: inline-block;
  border: none;
  height: 50px;
  border-radius: 30px;
  padding: 10px 0;
  width: 200px;
  background-color: #f5be09;
  font-size: 1.2rem;
  color: #3f3f3f;
  font-weight: 800;
  transition: 150ms;
  margin-top: 40px;
}
#btn-register:focus {
  outline: none;
}

#btn-register:hover {
  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

#hero {
  min-height: 100vh;
  position: relative;
  /* margin-top: 145px;*/
  margin-top: 0px;
  /*
  position: absolute;
  z-index: -100;
  margin-top: 145px;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vw * 0.5275);
  overflow: hidden;
  */
}
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  */
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}
/*
#gallery {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: #101010;
  background-image: url("../img/fondo_contact.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 580px;
  color: #fff;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-header h2 {
  font-size: 3rem;
}

.contact-header p {
  font-size: 1.5rem;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.social-links a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.2s ease-out;
}

.social-links a:hover {
  transform: translateY(15px);
}

.btn_social_links {
  padding: 1.2rem 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: black;
}

footer p {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.modalReg {
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modalLog {
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #f5be09;
  border-radius: 6px;
  padding: 3em 2.5em;
  border-radius: 25px;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal--showLog {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

form {
  background: #f5be09;
  padding-left: 40px;
  padding-right: 40px;
}

form h1 {
  font-size: 30px;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.form {
  width: 100%;
  margin: auto;
}

form .grupo {
  position: relative;
}

input {
  background: #f5be09;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.modal__closeReg {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 25px;
  cursor: pointer;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.modal__closeLog {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 25px;
  cursor: pointer;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

#closeModal {
  text-align: end;
  font-size: 40px;
  font-weight: 500;
}

/**** media query ****/

@media (max-width: 800px) {
  #navbar {
    background: black;
  }
  .promo {
    padding-top: 15px;
  }

  .promo h1 {
    font-size: 1.2rem;
  }

  .promo p {
    font-size: 1rem;
  }

  #btn-register {
    display: inline-block;
    height: 30px;
    padding: 5px 0;
    width: 150px;
    background-color: #f5be09;
    font-size: 1rem;
    color: #3f3f3f;
    font-weight: 800;
    transition: 150ms;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  #hero {
    min-height: 0vh;
    position: relative;
    margin-top: 145px;
    margin-bottom: 0px;
  }

  .contact-header h2 {
    font-size: 2rem;
  }

  .contact-header p {
    font-size: 1rem;
  }

  #contacts {
    background-size: 280px;
  }
}
